.Footer{
  display: grid;
  background-color: black;
  /* position: relative; */
}

.FooterItems{
display: flex;
justify-content: center;
gap: 20px;
margin-top: 100px;
}

.sectn{
color: white;
text-align: center;
font-weight: bold;
}

.footer1{
  width: 100%;
  height: 200px;
}

.footer1 a{
text-decoration: none;
font-weight: bold;
font-size: 12px;
}


@media screen and (max-width: 600px ) {
  .footer1{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer1 h2{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Footer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .FooterItems{
    display: inline-block;
  }

  .sectntop{
    width: 100%;
  }

  section{
    width: 100%;
  }
}