.Home-nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background-color: rgb(206, 206, 212);
  border-bottom: 1px solid rgb(16, 3, 3);
}

.Home-nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Home-nav a:hover{
  background-color: rgb(92, 206, 92);
  border-radius: 3px;
  color: aliceblue;
  padding: 0px 5px;
}

.HomeTopImg{
  position: relative;
  width: 100%;
}

.HomeTopImg img{
  width: 100%;
  height: 450px;
}

.Home-typeriter{
  position: absolute;
  width: 40%;
  background-color: transparent;
  color: aliceblue;
  top: 40%;
  left: 30%;
  font-style: italic;
}

.Home-gridContainer{
display: grid;
width: 100%;
/* background-color: aqua; */
/* height: 350px; */
margin-top: 5%;
}

.Home-flex{
  display: flex;
  width: 100%;
  gap: 5%;
}

.Home-leftSide{
  display: block;
  /* background-color: ; */
  width: 45%;
  margin-left: 5%;
}

.Home-leftSide img{
  width: 92%;
  height: 400px;
  border-radius: 7px;
}

.Home-rightSide{
  display: block;
  /* background-color: rgb(121, 35, 7); */
  width: 40%;
  margin-right: 5%;
}

.Home-rightSide h1{
  text-align: center;
  width: 70%;
  font-weight: bold;
}

.Home-rightSide p{
  color: gray;
  font-size: 18px;
  line-height: 30px;
}

.hr{
  background-color: rgb(8, 70, 5);
  /* color: red; */
  width: 15%;
  height: 15px;
}

