.Layouts{
  display: Grid;
  width: 100%;
  overflow: hidden;
}

.Layouts-flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Layout-left{
  width: 55%;
}

.Layout-right{
  width: 45%;
}

.Layout-left img{
  height: 630px;
  width: 100%;
}

.Layout-right h2{
  text-align: center;
  margin-top: 50px;
}

.Layout-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 23%;
  margin-top: 50px;
}

.Copyright{
  text-align: center;
  margin-top: 100px;
  font-weight: 700;
}