.tab input[type='submit']{
  background-color: red;
}

.bookspace{
  text-align: center;

}

.bookinForm{
  display: flex;
  gap: 5px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;

}

.bookinForm input{
  display: block;

}

.bookinForm input[type='submit']{
  background-color: #0b3818;
  width: 10%;
}

.bookinForm input:hover[type='submit']{
  background-color: rgb(9, 135, 93);
}