.List-dropitems {
  display: none;
  position: absolute;
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-color: whitesmoke;
  min-width: 165px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  opacity: 0.9;
}

.List-Drop1 {
  position: relative;
  display: block;
  color: white;
}

.List-Drop button{
  font-weight: bold;
  cursor: pointer;
}

.List-Drop button{
  background-color: rgb(71, 225, 65);
  color: whitesmoke;
  border-radius: 3px;
}